
* {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: 200;
    color: #001F3F;
}

header {
    width: 100%;
    height: 100%;
    background-color: #001F3F;
}


body {
    background-color: #FAF7F0;
    margin: 0;
}

footer {
    width: 100%;
    height: 100%;
    color: wheat;
    background-color: #001F3F;
    margin: 0;
    padding: 0;
}

footer p {
    font-size: 1.2rem;
    font-weight: bold;
    text-align: center;
    color: wheat;
    margin: 0;
    padding: 0;
}


h1  {
    background-color:transparent;
    color: wheat;
    text-align: center;
    font-weight: bold;
    margin-top: 0px;
    margin-bottom: 0px;
    padding-top: 5px;
    padding-bottom: 5px;   
}

h2 {
    color:#001F3F;
    text-align: start;
    font-weight: bold;
    font-size: 2.4rem;
    letter-spacing: 1px;
}

.flip-card {
    background-color: transparent;
    width: 250px;
    height: 300px;
    perspective: 1000px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  }
  
  .title {
    font-size: 1.2rem;
    font-weight: 900;
    text-align: center;
    margin: 0;
    background-color: transparent;
    color: wheat;
  }
  

  .flip-card-inner {
    position: relative;
    width: 100%;
    height: 100%;
    text-align: center;
    transition: transform 0.8s;
    transform-style: preserve-3d;
  }
  
  .flip-card:hover .flip-card-inner {
    transform: rotateY(180deg);
  }
  
  .flip-card-front, .flip-card-back {
    box-shadow: 0 8px 14px 0 rgba(0,0,0,0.2);
    position: absolute;
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    height: 100%;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    border: 1px transparent;
    border-radius: 1.5rem;
    overflow: hidden;
  }
  
  .flip-card-front img {
  width: 100%;
  height: 100%;
  object-fit: cover; /* Asegura que la imagen cubra todo el contenedor sin distorsionarse */
  position: absolute; /* Coloca la imagen en el fondo */
  top: 0;
  left: 0;
  border-radius: 1rem; /* Hace que la imagen coincida con el borde de la tarjeta */
  
}


.flip-card-front {
    background: linear-gradient(120deg, bisque 60%, rgb(255, 231, 222) 88%,
       rgb(255, 211, 195) 40%, rgba(255, 127, 80, 0.603) 48%);
    color: coral;
}
  
.flip-card-back {
    background-color: #001F3F;
    transform: rotateY(180deg);
}


a {
    text-decoration: none;
    font-size: 1.5rem;
    font-weight: bold;
    background-color: transparent;
}

nav {
    overflow: hidden;
    margin-top: 10%;
    display: inline;
    text-align: center;
    padding: 0;
}

nav ul {
    background-color: #001F3F;
    margin-top: 0px;
    margin-bottom: 1px;
    list-style-type: none;
}

nav li{
    border-radius: 0.5rem;
    display: inline-block;
    margin: 1px;
    padding: 10px 20px;
    background-color: wheat;
}

nav li:hover{
    background-color: #001F3F;
}

nav a:hover {
    color: wheat;
    text-decoration:solid;
    font-size: 1.8rem;
    transition: all 0.3s ease-in-out;
}


.subtitle {
    color: #001F3F;
    font-size: 2.2rem;
    font-weight: bold;
    text-transform: uppercase;
}

section {
    margin: 10px 10px 10px 10px;
    border: transparent;
    padding: 1.5% 0.8%;
    padding-left: 1.2%;
    padding-right: 1.2%;
    -moz-border-radius: 5px;
    border-radius: 5px;
}

#contacto , #resumen {
    
    margin: 10px 10px 10px 10px;
    border: transparent;
    padding: 1.5% 0.8%;
    padding-left: 1.2%;
    padding-right: 1.2%;
    -moz-border-radius: 5px;
    border-radius: 5px;
    box-shadow: 1px 3px 3px 5px #001F3F;
    
}

.sobremi{
    padding: 30px;
    font-size: 1.5rem;
    font-weight: 600;
}
 
#educacion strong {
    font-weight: bold;
    font-size: large;
}

#educacion li {
    font-weight: 600;
}

#educacion table {
    width: 100%;
    border-collapse: collapse;
}

#educacion td {
    vertical-align: top;
    padding: 10px;
}

#educacion ul {
    list-style-type: none;
    padding: 0;
}

#educacion img {
    display: block;
    margin: auto;
    width: 300;
    height: auto;
}

/* Por Flex
#resumen {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-direction: column;
    height: 20vh;
    flex-wrap: wrap;
}

#resumen h2,p{
    width: 50%;
}
#resumen img{
    max-width: 50%;
}
    */

/*Por Grid */
#resumen {
    display: grid;
    justify-content: space-around;
    align-items: stretch;
    grid-template-areas: "A A" "B D" 
}    

#resumen h2{
    grid-area: A;
}
#resumen p{
    grid-area: D;
}
#resumen img{
    grid-area: B;
}

label {
    font-weight: 500;
}


#contacto .wrapper2-wrapper1 {
    width: 100%;
    padding-top: 10px ;
    text-align: left;
}

.contacto {
    width: auto;
    height: auto;
}

.wrapper2{
    width: auto;
    display: grid;
    grid-template-columns: 1fr 1fr;  
}

iframe{
    width: 100%;
    height: 100%;
    border: none;
    border-radius: 3%;
    margin-left: 20px;
}

.mapa {
    width: 550px;
    height: 400px;
    transition: all 0.3s ease;
}


.mapa:hover{
    width: 700px;
    height: 450px;
    
}

button {
    --button_radius: 0.75em;
    --button_color: #FAF7F0;
    --button_outline_color: #001F3F;
    font-size: 20px;
    font-weight: bold;
    border: transparent;
    cursor: pointer;
    border-radius: var(--button_radius);
    background: var(--button_outline_color);
    padding: 0rem 0rem;
    
}

.button_top {
    display: block;
    box-sizing: border-box;
    border: 2px solid var(--button_outline_color);
    border-radius: var(--button_radius);
    padding: 0.75em 1.5em;
    background: var(--button_color);
    color: var(--button_outline_color);
    transform: translateY(-0.2em);
    transition: transform 0.1s ease;
}
  
button:hover .button_top {
    transform: translateY(-0.33em);
}
  
button:active .button_top {
    transform: translateY(0);
}

#formularioContacto ul {
    padding: 2%;
    border: 5px solid transparent;
    border-radius: 3px;
    font-size: 1.1rem;
    list-style: none;
}

#formularioContacto li {
    display: flex;
    flex-direction: column;
    margin-bottom: 1%;
}

#formularioContacto label {
    font-size: 1.2rem;
    margin-bottom: 1%;
    color: #001F3F;
    font-weight: bold;
}

#formularioContacto input,textarea {
    padding: 2%;
    border: 3px solid #001F3F;
    border-radius: 3px;
    font-size: 1.1rem;
}

#experiencia {
    text-align: center;
}

.iconos {
    display: flex;
    justify-content: center; 
    gap: 250px;
}

.iconos img {
    width: 50%;
    height: 50%;
}

.iconos img:hover{
    width: 65%;
    height: 65%;
    transition: all 0.4ms ease-out;
}


.card {
    width: 10.5rem;
    height: 12rem;
    background: transparent;
    position: relative;
    display: flex;
    place-content: center;
    place-items: center;
    overflow: hidden;
    border-radius: 20px;
  }
  
  .card img {
    z-index: 1;
  }
  
  .card::before {
    content: '';
    position: absolute;
    width: 10%;
    background-image: linear-gradient(180deg, rgb(224, 38, 5), rgb(255, 0, 179));
    height: 130%;
    animation: rotBGimg 3s linear infinite;
    transition: all 0.2s linear;
  }
  
  @keyframes rotBGimg {
    from {
      transform: rotate(0deg);
    }
  
    to {
      transform: rotate(360deg);
    }
  }
  
  .card::after {
    content: '';
    position: absolute;
    background: #001F3F;
    ;
    inset: 5px;
    border-radius: 15px;
  }
  